<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('partials/head') %>
    <title><%= locals.title || 'SECURE.BLOG | Cyber Security Lab' %></title>
</head>
<body>
    <%- include('partials/nav') %>

    <%- body %>

    <script src="js/core.js"></script>
    <% if (locals.scripts) { %>
        <%- scripts %>
    <% } %>
</body>
</html>
